@model IEnumerable<AchieveIt.Web.Models.PostsViewModel>

@foreach (var i in Model)
{
    <div class="col-md-4">
        <h2>@i.Title</h2>
        <p>@i.Text</p>
        <p>@i.Uri</p>
        <p>@i.Sender --> @i.DateCreated</p>

    </div>
}
