@model AchieveIt.Web.Models.ProfileInfoViewModel


<div id="get-profile">
    <h2> <span class="glyphicon glyphicon-user small"></span> @Model.UserName <span class="badge" style="margin-left:15px; margin-bottom:30px;">@Html.DisplayFor(model => model.Votes)</span></h2>
    @if (User.Identity.IsAuthenticated && User.Identity.Name != Model.UserName)
    {
        <button type="button" class="btn btn-success">Vote Up</button>
        <button type="button" class="btn btn-danger">Vote Down</button>
        <br />
    }
    <br />
    <div id="profile-picture-section">
    @if (@Model.PictureUri != null)
    {
        <img src="data:image;base64,@Model.PictureUri" alt="Profile Picture" height="220" width="220" enctype="multipart/form-data"  />
        <span id="profile-picture-edit"></span>
    }
    else
    {
        <img src="~/Content/Images/NoPictureImage.jpg" alt="Missing Picture" height="220" , width="220" enctype="multipart/form-data" />
        <span id="profile-picture-edit"></span>
    }
        
       *@*<label for="file-input">
            <span class="glyphicon glyphicon-edit"></span>
        </label>
@using (Html.BeginForm("AddPost", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.TextBoxFor(Model => Model.DateRegisered, new { type = "file", id = "file-input", accept = "image/*"  })
}
        <input id="file-input" type="file" />*@
    </div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd id="username">
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd id="email">
            <span style="float:right" class="glyphicon glyphicon-remove"></span>
            <p> @Html.DisplayFor(model => model.Email)</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FacebookUrl)
        </dt>

        <dd id="facebookUrl">
            <span style="float:right" class="glyphicon glyphicon-remove"></span>
            <p>@Html.DisplayFor(model => model.FacebookUrl)</p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd id="nationality">
            <span style="float:right;" class="glyphicon glyphicon-remove"></span>
            <p>@Html.DisplayFor(model => model.Nationality)</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateRegisered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRegisered)
        </dd>

    </dl>
    @if (this.User.Identity.Name == Model.UserName)
    {
        <a href="~/Profile/@Model.UserName/Edit" class="btn btn-info" role="button">Edit Profile</a>

    }
</div>

@*<script>
    $(".glyphicon glyphicon-remove").hover(function () {
        $(".glyphicon glyphicon-remove").css("color","red");
    })();

    $("#profile-picture-section").mouseover(function () {
        $("#profile-picture-edit").addClass("glyphicon glyphicon-edit");
    })
    $("#profile-picture-section").mouseout(function () {
        $("#profile-picture-edit").remove('.glyphicon glyphicon-remove');
    })
</script>*@